@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main-styling */
body {
  font-family: "karla", sans-serif;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}
/* utility classes */
.text-primary {
  font-size: 4rem;
  line-height: 0.9;
  padding: 0.5rem;
  color: #fff;
}
.color-purple {
  color: hsl(256, 26%, 20%);
}
.px-1 {
  padding: 0 1.2rem;
}

.py-1 {
  margin: 1.2rem 0;
}
/* navbar section */

.container {
  max-width: 1100px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}
#navbar {
  background-color: #fff;
  border: 1px solid #fff;
  color: hsl(256, 26%, 20%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 16px;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}
#navbar ul li a {
  color: hsl(270, 9%, 17%);
  font-weight: 700;
  padding: 0.75rem;
  margin: 0 0.5rem;
}
#navbar ul li a:hover {
  background: hsl(264, 33%, 3%);
  color: #fff;
}
/* main-content section */
#main-content {
  background: hsl(264, 33%, 3%);
}

#main-content img {
  width: 100%;
}

#flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.child-1,
.child-2 {
  flex: 1;
}
.line-1 {
  width: 200px;
  height: 1px;
  background: #fff;
  margin-bottom: 1rem;
}

.child-1 p {
  line-height: 1.5;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fff;
}
.button {
  background: #fff;
  padding: 10px 20px;
  margin: 1rem 0;
  color: hsl(256, 26%, 20%);
  cursor: pointer;
  border: none;
}

.child-1 button:hover {
  color: hsl(276, 15%, 6%);
}
/* middle content section */

/* #middle-content{
  padding-bottom: 4rem;
} */
.line-2 {
  width: 200px;
  height: 1px;
  background: hsl(276, 15%, 6%);
  margin: 5rem 0 2rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* how we work section */
.work-container {
  max-width: 1100px;
  padding: 2rem 2rem;
  margin: auto;
  overflow: hidden;
  width: 100%;
  background: hsl(264, 33%, 3%);
  color: #fff;
  height: 150px;
}

.work-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.1;
}
.m-heading {
  font-size: 40px;
}

#third-section {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
/* footer section */
#page-footer {
  background: hsl(0, 0%, 98%);
  padding: 2rem 0;
}
.footer-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.item-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.medium-heading {
  font-size: 1.5rem;
}
.item-2 {
  display: flex;
  justify-content: space-between;
}
